:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #fcfcfb;
  --color-secondary-dark: #a18268;
  --color-brand-dark: #465929;
  --color-brand-normal: #29b8c2;
  --color-brand-light: #cfcfbc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-primary-light);
  color: var(--color-primary-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.section {
  min-height: 100vh;
  background-image: linear-gradient(
      103deg,
      rgba(1, 46, 33, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url("./images/maldives-1993704.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  text-align: left;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 64px;
}

input {
  appearance: none;
  background-color: var(--color-primary-light);
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: none;
  color: var(--color-primary-dark);
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  color: inherit !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.button {
  display: inline-block;
  padding: 6px 24px;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-primary-light);
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: transparent;
  color: var(--color-secondary-dark);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 1001;
  padding: 10px;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1288px;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--color-primary-light);
  font-family: "Georgia", serif;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}

.header__logo-text {
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: bold;
}

.header__menu {
  display: flex;
  gap: 32px;
  flex-grow: 1;
  justify-content: center;
}

.header__link {
  font: 1em sans-serif;
  color: var(--color-primary-light);
  transition: color 0.3s;
}

.header__link:hover {
  color: var(--color-secondary-dark);
}

.header__search {
  display: flex;
  gap: 10px;
  align-items: center;
  background: var(--color-primary-light);
  padding: 6px;
  border-radius: 50px;
}

.header__search-input {
  font-size: 14px;
  flex-grow: 1;
  min-width: 224px;
  background: var(--color-primary-light);
  border: none;
  font-style: italic;
  text-align: center;
}

.header__search-input::placeholder {
  color: var(--color-brand-normal);
}

.header__search-input:focus {
  border-color: transparent;
  outline: none;
}

/* HERO */

.hero {
  min-height: 100vh;
  padding: 272px 0 120px;
  background-image: linear-gradient(
      103deg,
      rgba(1, 46, 33, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url("./images/maldives-1993704.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  text-align: left;
}

.hero__grid {
  display: grid;
  grid-template-columns: 80px 1fr 1fr;
  gap: 64px;
  align-items: center;
  justify-items: end;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.sidebar__social-line {
  position: absolute;
  left: 3%;
  top: 15%;
  width: 2px;
  height: 256px;
  background-color: var(--color-primary-light);
  margin-bottom: 64px;
}

.sidebar__social-icons {
  position: absolute;
  left: 2%;
  top: 60%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sidebar__social-icons img {
  width: 32px;
  height: 32px;
  filter: brightness(0) invert(1);
}

.sidebar__content {
  max-width: 720px;
  color: var(--color-primary-light);
}

.hero__title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.hero__description {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.hero__button--book {
  margin-top: 16px;
}

.hero__button--book:hover {
  background-color: #006666;
}

.hero__results {
  display: grid;
  gap: 24px;
  max-width: 400px;
}

.hero__result-card {
  background-color: var(--color-brand-light);
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.hero__result-image {
  width: 100%;
  max-width: 320px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.hero__result-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

#resultsContainer .hero__result-description {
  font-size: 16px;
  color: var(--color-brand-dark);
}

/* ABOUT US */

.about__section {
  padding: 20px 0 120px;
}

.about__grid {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 64px;
  align-items: center;
  justify-items: end;
  max-width: 1288px;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  padding: 4rem;
}

.about__title {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.about__description {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  max-width: 1280px;
  margin-bottom: 4rem;
  padding-left: 1em;
  background-color: rgba(49, 38, 26, 0.3);
  border-radius: 8px;
}

.team {
  margin-top: 4rem;
  padding-left: 4rem;
}

.team__cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team__title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.team__member {
  width: 256px;
  height: 128px;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: white;
  background-color: rgba(49, 38, 26, 0.3);
  border-radius: 8px;
}

.team__avatar {
  align-self: flex-start;
}

.team__avatar img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.team__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team__name {
  font-weight: 600;
  margin: 0;
}

.team__description {
  margin: 0;
  font-size: 1rem;
  color: var(--color-brand-light);
}

.team__role {
  margin-top: 0.5rem;
  padding: 0.4rem 0.8rem;
  color: white;
  background-color: var(--color-brand-normal);
  border: 1px white solid;
  border-radius: 8px;
}

/* CONTACT US */

.contact__section {
  padding: 60px 0 120px;
}

.contact__grid {
  display: grid;
  grid-template-columns: 80px 1fr 2fr;
  gap: 64px;
  align-items: center;
  justify-items: stretch;
  padding-top: 80px;
}

.contact__content {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 2rem;
}

.contact__title {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.contact__subtitle {
  font-size: 1.2rem;
  color: var(--color-brand-light);
}

.contact__form-wrapper {
  max-width: 600px;
  background-color: rgba(49, 38, 26, 0.2);
  padding: 2rem;
  border-radius: 10px;
  color: var(--color-primary-light);
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact__field {
  margin-bottom: 16px;
}

.contact__input {
  padding: 16px 42px;
  width: 100%;
  font-size: 16px;
  line-height: 1.17;
  border: 1px solid var(--color-brand-light);
  border-radius: 8px;
  background-color: transparent;
  color: var(--color-brand-light);
}

.contact__label {
  position: absolute;
  top: 16px;
  left: 42px;
}

.contact__input:focus {
  border-color: var(--color-brand-light);
  outline: none;
}

.contact__input::placeholder {
  color: var(--color-primary-light);
  font-size: 16px;
  line-height: 1.17;
}

.contact__input:focus::placeholder {
  color: var(--color-primary-light);
  opacity: 0.6;
}

textarea.input__control {
  min-height: 150px;
  resize: vertical;
}

.contact__button {
  width: 100%;
  padding: 16px 20px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary-light);
  background-color: var(--color-brand-normal);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact__button:hover {
  background-color: #019c88;
  color: var(--color-primary-light);
}
